.App {
  text-align: center;
  background-color: #A6E1EC;
}

.jumbotron{
  padding-left: 25%;
  padding-right: 25%;
}
.btn-primary{
  margin-top: 10px;
  margin-right: 5px;
}
.btn-danger{
  margin-top: 10px;
  margin-left: 5px;
}